* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  overflow-y: hidden;
  background-color: rgb(44, 48, 48);
}
h1 {
  padding: 0.75rem;
  text-align: center;
  color: aliceblue;

}
.image-wrapper {
	background-color: black;
  margin: 0 auto;
	position: relative;
	overflow: hidden;
	max-width: 90%;
}
img {
	width: 100%;
	height: 520px;
}
#buttons {
	/* position: absolute;
	left: 50%;
	transform: translateX(-50%); */
	text-align: center;
	margin-top: 0.5rem;
}
select,
.previous,
.next,
.auto-previous,
.stop,
.auto-next {
	padding: 0.35em 1.2em;
	border: 0.1em solid whitesmoke;
	border-radius: 0.12em;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  color: whitesmoke;
	text-align: center;
	transition: all 0.2s;
  background-color: black;
	border-radius: 4px;
}
.previous:hover,
.next:hover,
.auto-previous:hover,
.stop:hover,
.auto-next:hover {
	background-color: #1b1f27;
}
label {
	color: whitesmoke;
	/* display: none; */
}

select {
	text-align: center;
	background-color: black;
	color: whitesmoke;
	/* font-size: 1.35rem; */
	/* margin-top: 0.25rem; */
	/* padding: 0.25rem; */
	/* border-radius: 4px; */
	border: whitesmoke solid 1px;
	/* position: relative; */
}

